/* ===== FONT-FACE ===== */
@font-face{
    font-family: Oswald Bold;
    src: url(../media/fonts/Oswald-Bold.ttf);
}
@font-face{
    font-family: Oswald Light;
    src: url(../media/fonts/Oswald-Light.ttf);
}