/* ===== CONTATO ===== */
.contato{
    padding: 1em 0 300px 0;
    .titulo{
        margin: 1em 0 2em 0;
    }
    .form-control{
        background:#f2f2f2;
    }
    // Demais CSS do formulário está no GLOBAL.
}