//Variaveis
$verde: #47a491;
$branco: #fff;
$acinzentado: #919191;

@import 'font-face';
@import 'global';
@import 'header';
@import 'index/index';
@import 'corpo-clinico-interno';
@import 'footer';
@import 'contato';
@import 'cursos';
@import 'a-clinica';
@import 'convenios';
@import 'sticky';


